[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-environ = "*"
langchain = "*"
langchain-community = "*"
google-genai = "*"
langchain-google-genai = "*"
chromadb = "==1.0.6"
deepagents = "==0.0.5"
tavily-python = "==0.7.10"
python-dotenv = "*"
langgraph = "*"
langchain-anthropic = "*"

[dev-packages]

[requires]
python_version = "3.12"

